<h1>Edit seed</h1>

<form id="edit-seed" name="seed">

    <div class="field">
	<label for="name">name:</label>
	<input type="text" name="name" id="name" value="<%= name %>" />
    </div>

    <div class="field">
	<label for="genus">genus:</label>
	<input type="text" name="genus" id="genus" value="<%= genus %>" />
    </div>

    <div class="actions">
	<input type="submit" value="Update" />
    </div>

</form>

<a href="#/index">Back</a>
