<h1>New Seed</h1>

<form id="new-seed" name="seed">

    <div class="field">
	<label for="name">name:</label>
	<input type="text" name="name" id="name" />
    </div>

    <div class="field">
	<label for="genus">genus:</label>
	<input type="text" name="genus" id="genus" />
    </div>

    <div class="actions">
	<input type="submit" value="Create Seed" />
    </div>

</form>

<a href="#index">Back</a>
